body{
  margin: 0;
}

img{
  width: 100%;
}

#top{
  background: black;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
}

nav{
  color: white;
  text-align: right;
}

nav a {
  color: white;
}

li{
  display: inline-block;
}

h1 {
  color: white;
}

#splash{
  height: 90vh;
  text-align: center;
  background-image: url(https://picsum.photos/300/200);
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#splash > h1{
  /* padding-top: 400px; */
}

#splash > button {
  /* margin-bottom: 40px; */
}

#location{
  text-align: center;
}


#gallery{
  text-align: center;

}

.grid4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}


#beer{
  text-align: center;
}

#beer img{
  width: 80%;
}

.grid2{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
}


#team{
  text-align: center;
}

.grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}


footer{
  text-align: center;
  background: black;
  padding: 1vw 0;
}

footer > p{
  color: white;  
}

.hamburger{
  display: none;
  color:white;
}


@media all and (max-width: 800px){
  .grid4{
    grid-template-columns: 1fr 1fr;
  }

  .grid2{
    grid-template-columns: 1fr;
  }

  .grid3{
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 460px){
  .grid4{
    grid-template-columns: 1fr;
  }

  .grid3{
    grid-template-columns: 1fr;
  }

  nav{
  display: none;
}

.hamburger{
  display: block;
}

.hamburger {
  position: relative;
  display: inline-block;
}

.hamburger-content {
  display: none;
  position: absolute;
  left:0;
  z-index:1;
}

.hamburger:hover .hamburger-content {
  display: block;
/* animation: popup .5s ease-in-out both; */
}

.hamburger span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: block;
  transform: rotate(90deg);
}

.hamburger:hover span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: inline-block;
  transform: rotate(180deg);
}
}